@use 'sass:map'


$general-colors : ("old-blue" : #0066BB, "gray" : #C9BFBF, "white" : #EEE, "black": #1f2227, "gray-blue" : #AAAADD, "gray-bright" : #D1C7C7)
$primary-colors : ("normal" : #1D1D1E, "darker" : #121212)

$prioritary-colors : ("base" : #4456F5, "base-darker" : #3B4ACC, "base-alt" : #100f16)

$gradient-colors : ( "1" : #F3D063, "2" : #E88077, "3" : #DD388D)

$bg-abstract: url("../res/livelock_spacewaver.png")

