@use 'sass:map'
@use 'dictionary' as *
//! Increase size of box
@mixin mx_menu_standout
    background-color: map.get($prioritary-colors, 'base') 
    border-radius: 0px 10px
    color: white
    border: white 3px solid

@mixin mx_menu_notstandout
    background-color: map.get($prioritary-colors, 'base-darker') 
    border-radius: 10px 0px
    border: white 3px solid
    color: white
