body {
  background: url("../res/livelock_spacewaver.png") center no-repeat fixed;
  background-size: cover;
  color: white;
  font-family: noto cambria sans-serif;
  margin: 0px;
  padding: 0px;
}
body p {
  font-family: "CousineRegular";
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}

h1 {
  font-family: "TTNormsBlack";
  font-weight: bold;
  font-style: normal;
}

header {
  background-color: #100f16;
}
header p, header h1 {
  display: inline-block;
}
header p {
  color: #D1C7C7;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
header img {
  width: 150px;
  height: 50px;
}

section #menu {
  width: 300px;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 4em;
}
section #menu div {
  text-align: center;
}
section #menu div:nth-child(odd) {
  padding-left: 6px;
}
section #menu div:nth-child(even) {
  padding-right: 6px;
}
section #menu div:hover > li {
  background-color: #E88077;
  font-weight: bold;
}
section #menu div:hover:nth-child(odd) li {
  background-color: #4456F5;
  border-radius: 0px 10px;
  color: white;
  border: white 3px solid;
  border-bottom: 0px;
  border-top: 0px;
}
section #menu div:hover:nth-child(even) li {
  background-color: #3B4ACC;
  border-radius: 10px 0px;
  border: white 3px solid;
  color: white;
  border-top: 0px;
  border-bottom: 0px;
}
section #menu div:first-child li {
  border-top: 3px black solid;
}
section #menu div:first-child li:hover {
  border-top: white 3px solid;
}
section #menu div:last-child li {
  border-bottom: 3px black solid;
}
section #menu div:last-child li:hover {
  border-bottom: white 3px solid;
}
section #menu li.menu-boton {
  color: #0066BB;
  padding: 10px 0px;
  list-style-type: none;
  white-space: nowrap;
  width: 70%;
  border-right: 3px black solid;
  border-left: 3px black solid;
  transition: all 0.5s ease;
  background-color: #EEE;
}
section #pop_datos {
  font-size: 14px;
  padding: 20px 40px;
  border-radius: 10px;
  color: #1f2227;
  background-color: #EEE;
}
section #pop_datos-centro {
  text-align: center;
  font-size: 15px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f2227;
  color: #C9BFBF;
  padding-top: 1em;
  font-size: 14px;
}
footer p {
  text-align: center;
  width: 100%;
}
footer div:first-of-type {
  width: 50%;
  padding: 0px 4px;
  border-right: thick double #C9BFBF;
}
footer div:nth-child(2) {
  width: 40%;
  margin: auto;
}
footer div p {
  text-align: justify;
}

.pop_bubble {
  padding: 0px;
  margin: auto;
  width: 75%;
}
.pop_bubble ul {
  padding: 0px;
  margin: 0px;
}
.pop_bubble li {
  list-style-type: none;
  padding: 2px 4px;
}
.pop_bubble:nth-child(even) li:first-child {
  background-color: #EEE;
  border-top: 5px solid #1f2227;
}
.pop_bubble:nth-child(odd) {
  text-align: right;
  background-color: #EEE;
}
.pop_bubble:nth-child(odd) li:first-child {
  border-top: 5px solid #1f2227;
}
.pop_bubble a {
  text-align: center;
  text-decoration: none;
  background-color: #9FC8C7;
  color: #1f2227;
  text-transform: uppercase;
  font-size: 12px;
}
.pop_bubble a:visited {
  text-decoration: underline #0066BB;
  background-color: #EEE;
  font-weight: bold;
  color: #0066BB;
}
.pop_bubble p {
  color: #1f2227;
  font-size: 13px;
}

/*# sourceMappingURL=main.css.map */
