@use 'sass:map'
@use 'dictionary' as *
@use 'functions' as fn

@font-face
    font-family: 'customfont'
    src: url('fonts/library_3_am-webfont.woff2') format('woff2')
    font-weight: normal
    font-style: normal

body
  background: $bg-abstract  center  no-repeat fixed
  background-size: cover
  color: white
  font-family: noto cambria sans-serif
  margin: 0px
  padding: 0px


h1
    font-family: 'customfont'

header

   text-align: center

   p, h1
     display: inline-block

   p
     width: 50%
     margin: auto
   img
     width: 40px
     height: auto

section
    #menu
        margin-top:  15%
        width: 300px
        margin: auto
        div

          text-align: center

          &:nth-child(odd)
            padding-left: 6px

          &:nth-child(even)
            padding-right: 6px

          &:hover > li
            background-color: map.get($gradient-colors, '2') 
            font-weight: bold
            padding: 10px 0px

          &:hover:nth-child(odd) li
              @include fn.mx_menu_standout

          &:hover:nth-child(even) li
              @include fn.mx_menu_notstandout

          &:first-child li
            border-top: 3px black solid

          &:last-child li
            border-bottom: 3px black solid
           
        li.menu-boton
          color: map.get($general-colors, 'old-blue')
          padding: 10px 0px
          list-style-type: none
          white-space: nowrap
          width: 70%
          border-right: 3px black solid
          border-left: 3px black solid
          transition: all .5s ease
          background-color: map.get($general-colors, 'white') 



    #pop_datos
        &-centro
          text-align: center

        padding: 20px 0px
        width: 80%
        border-radius: 10px
        border: 2px white solid
        margin: auto
        color: black
        background-color: map.get($general-colors, 'white') 

footer
   display: flex
   flex-wrap: wrap
   background-color: map.get($general-colors, 'black') 
   color: map.get($general-colors, 'gray') 
   padding-top: 1em
   font-size: 14px
   border: 2px map.get($general-colors, 'gray')  solid
   p
     text-align: center
     width: 100%
   div
     &:first-of-type
       width: 50%
       padding: 0px  4px
       border-right: thick double map.get($general-colors, 'gray') 
     &:nth-child(2)
       width: 40%
       //background-color: map.get($primary-colors, 'normal') 
       margin: auto
     p
       text-align: justify



.pop_bubble
    padding: 0px
    margin: auto
    width: 95%
    ul
       padding: 0px
       margin: 0px
       margin-top: 100px
    li
      list-style-type: none
      padding: 2px 4px
      margin-bottom: 10px
      border-top: 10px solid map.get($general-colors, 'gray-blue') 
    &:nth-child(even)
        li
            background-color: map.get($general-colors, 'black') 
            border-radius: 0px 100px 100px 12px
    &:nth-child(odd)
        li
            text-align: right
            background-color: map.get($general-colors, 'black') 
            border-radius: 100px 0px 12px 100px
    a
       text-align: center
       text-decoration: none
       background-color: lightblue
       color: map.get($general-colors, 'black') 
       text-transform: uppercase
       font-size: 12px

       &:visited
         text-decoration:  underline tomato
         background-color: map.get($general-colors, 'black') 
         font-weight: bold
         color: tomato
    p
       color: map.get($general-colors, 'white') 
