@use 'sass:map'
@use 'dictionary' as *
@use 'functions' as fn


body
  background: $bg-abstract  center  no-repeat fixed
  background-size: cover
  color: white
  font-family: noto cambria sans-serif
  margin: 0px
  padding: 0px
  p
    font-family: 'CousineRegular'
    font-weight: normal
    font-style: normal
    font-size: 12px


h1
  font-family: 'TTNormsBlack'
  font-weight: bold
  font-style: normal

header

   background-color: map.get($prioritary-colors, 'base-alt')

   p, h1
     display: inline-block

   p
     color: map.get($general-colors, 'gray-bright')
     font-size: 14px
     margin: 0px
     padding: 0px
   img
     width: 150px
     height: 50px

section

    #menu

        width: 300px
        margin: auto
        margin-top:  4em
        margin-bottom: 4em
                
        div

          text-align: center

          &:nth-child(odd)
            padding-left: 6px

          &:nth-child(even)
            padding-right: 6px

          &:hover > li
            background-color: map.get($gradient-colors, '2') 
            font-weight: bold

          &:hover:nth-child(odd) li
              @include fn.mx_menu_standout

          &:hover:nth-child(even) li
              @include fn.mx_menu_notstandout

          &:first-child li
            border-top: 3px black solid
            &:hover
              @include fn.mx_menu_top

          &:last-child li
            border-bottom: 3px black solid
            &:hover
              @include fn.mx_menu_bottom

           
        li.menu-boton
          color: map.get($general-colors, 'old-blue')
          padding: 10px 0px
          list-style-type: none
          white-space: nowrap
          width: 70%
          border-right: 3px black solid
          border-left: 3px black solid
          transition: all .5s ease
          background-color: map.get($general-colors, 'white') 



    #pop_datos
        font-size: 14px
        &-centro
          text-align: center
          font-size: 15px

        padding: 20px 40px
        border-radius: 10px
        color: map.get($general-colors, 'black')
        background-color: map.get($general-colors, 'white') 

footer
   display: flex
   flex-wrap: wrap
   background-color: map.get($general-colors, 'black') 
   color: map.get($general-colors, 'gray') 
   padding-top: 1em
   font-size: 14px
   p
     text-align: center
     width: 100%
   div
     &:first-of-type
       width: 50%
       padding: 0px  4px
       border-right: thick double map.get($general-colors, 'gray') 
     &:nth-child(2)
       width: 40%
       //background-color: map.get($primary-colors, 'normal') ??
       margin: auto
     p
       text-align: justify



.pop_bubble
    padding: 0px
    margin: auto
    width: 75%
    ul
       padding: 0px
       margin: 0px
       //margin-top: 100px ?? 
    li
      list-style-type: none
      padding: 2px 4px
      //margin-bottom: 10px ??
    &:nth-child(even)
        li:first-child 
            background-color: map.get($general-colors, 'white') 
            @include fn.mx_pops_standout
    &:nth-child(odd)
        text-align: right
        background-color: map.get($general-colors, 'white') 
        li:first-child
            @include fn.mx_pops_standout
    a
       text-align: center
       text-decoration: none
       background-color: #9FC8C7
       color: map.get($general-colors, 'black') 
       text-transform: uppercase
       font-size: 12px

       &:visited
         text-decoration:  underline map.get($general-colors, 'old-blue')
         background-color: map.get($general-colors, 'white') 
         font-weight: bold
         color: map.get($general-colors, 'old-blue')
    p
      color: map.get($general-colors, 'black') 
      font-size: 13px
