@font-face {
  font-family: "customfont";
  src: url("fonts/library_3_am-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  background: url("../res/livelock_spacewaver.png") center no-repeat fixed;
  background-size: cover;
  color: white;
  font-family: noto cambria sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "customfont";
}

header {
  text-align: center;
}
header p, header h1 {
  display: inline-block;
}
header img {
  width: 40px;
  height: auto;
}

section #menu {
  width: 300px;
  margin: auto;
}
section #menu p {
  padding: 10px 0px;
}
section #menu p:nth-child(odd) {
  background: linear-gradient(to right, #4456F5, #3B4ACC);
  padding-left: 6px;
  text-align: left;
}
section #menu p:nth-child(even) {
  background: linear-gradient(to left, #4456F5, #3B4ACC);
  padding-right: 6px;
  text-align: right;
}
section #pop_datos {
  padding: 20px 0px;
  width: 80%;
  border-radius: 10px;
  border: 2px white solid;
  margin: auto;
  color: black;
  background-color: #EEE;
}
section #pop_datos-centro {
  text-align: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #121212;
  color: #a49c9c;
  padding-top: 1em;
  font-size: 14px;
  border-radius: 10px;
  border: 2px #a49c9c solid;
}
footer p {
  text-align: center;
  width: 100%;
}
footer div:first-of-type {
  width: 50%;
  padding: 0px 4px;
  border-right: thick double #a49c9c;
}
footer div:nth-child(2) {
  width: 40%;
  margin: auto;
}
footer div p {
  text-align: justify;
}

.pop_bubble {
  padding: 0px;
  margin: auto;
  width: 95%;
}
.pop_bubble ul {
  padding: 0px;
  margin: 0px;
  margin-top: 100px;
}
.pop_bubble li {
  list-style-type: none;
  padding: 2px 4px;
  margin-bottom: 10px;
  border-top: 10px solid #AAAADD;
}
.pop_bubble:nth-child(even) li {
  background-color: #222;
  border-radius: 0px 100px 100px 12px;
}
.pop_bubble:nth-child(odd) li {
  text-align: right;
  background-color: #222;
  border-radius: 100px 0px 12px 100px;
}
.pop_bubble a {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
.pop_bubble a:visited {
  color: #EEE;
}
.pop_bubble p {
  color: #EEE;
}

/*# sourceMappingURL=pop.css.map */
